<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/siddharthgaur/Downloads/CoxAutoExperts_Autothon2.0">
    <parameter name="browser" value="Chrome"/>
    <classes><class name="src.test.java.Tests.CoxAutoExpertsAllTests">
        <methods>
            <include name="AddUser"/>
    </methods>
    </class>
    </classes>
</test>
</suite>